.ql-editor {
    color: #000;
    min-height: 450px;
}

.ql-snow .ql-picker-label {
    color: #000 !important;
}

.ql-snow .ql-picker-options {
    color: #000 !important;
}

.ql-snow .ql-picker-item {
    color: #000 !important;
}